wheel
pandas
pyarrow
numpy
# scipy
jupyterlab
tqdm==4.53
matplotlib
datatable
dask
plotly
seaborn
lightgbm
catboost
torch==1.6.0
Pillow==6.2.2
bayesian-optimization

# for requests module
idna==2.5
urllib3
requests==2.25.0
setuptools==50.3.2